$BaseBg: rgb(255, 240, 185);
$BaseText: #47453b;
// 彩色
$brown: rgb(102, 38, 0); // 褐色
$blackgrey: #47453b; // 黑灰
$red: rgb(250, 93, 78);
$green: rgb(132, 201, 39);
$yellow: rgb(255, 239, 190);

// 黑白灰
$c55:#555;
$c22:#222;
$c11:#111;
$c33:#333;
$c99:#999;
$c77:#777;
$c00:#000;
$cff:#fff;
$caa:#aaa;
$ccc:#ccc;
$cf0:#f0f0f0;
$cdd:#ededed;
$cddd:#ddd;
$cee:#eee;
$cf9:#f9f9f9;
$cf7:#F7F7F7;
$cfa:#fafafa;
$cf60:#f60;
