
.game-b {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.games {
  background: rgb(255, 225, 133);
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.games-head {
  width: 100%;
  height: px2rem(130px);
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .bg-head {
    width: px2rem(103px);
    height: px2rem(96px);
    position: absolute;
    top: px2rem(12px);
    right: px2rem(8px);
  }
  .games-time-box {
    color: rgb(255, 255, 255);
    font-family: 'PingPangSC-Regular';
    font-size: 19px;
    position: absolute;
    // left:px2rem(130px);
    top: px2rem(35px);
    left: 20%;
    // top:23%;
  }
  .progress-box-layer {
    position: absolute;
    left: 38%;
    top: px2rem(34px);
    width: 45%;
    height: px2rem(40px);
  }
}
.games-body-img {
  text-align: center;
  .game-word {
    width: px2rem(624px);
    height: px2rem(142px);
    line-height: px2rem(142px);
    font-family: 'PingFangSC-Medium';
    font-size: 31px;
    color: rgb(131, 195, 34);
    background: white;
    // border-radius: px2rem(15px);
    margin: px2rem(40px) auto;
    background: url('/static/img/bg_viewingarea.png') no-repeat;
  }
  .game-img {
    //  width: px2rem(300px);
    //  height: px2rem(210px);
    background: white;
    margin: px2rem(50px) auto;
  }
}

.game-t-img {
  margin: px2rem(160px) auto;
  //  background: white;
  border-radius: px2rem(10px);
  overflow: hidden;
  position: relative;
  ul {
    width: 1000px;
    height: px2rem(330px);
  }
  li {
    height: px2rem(322px);
    width: px2rem(450px);
    position: absolute;
    border: 2px solid white;
  }
  @mixin pict {
    z-index: 2;
    top: px2rem(60px);
    height: px2rem(188px);
    transition: All 0.3s ease;
  }
  .show-cal {
    transition: All 0.9s ease;
    // left:px2rem(70px);
  }
  .img-0 {
    @include pict;
    left: px2rem(70px);
  }
  .img-2 {
    @include pict;
    right: px2rem(70px);
  }
  .img-1 {
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    transition: All 0.3s ease;
  }
}
.word-img{
  margin-top:px2rem(34px);
  .people{
    width: px2rem(182px);
    height:px2rem(124px);
  }
  .answer {
    // display: inline-block;
    margin-top: px2rem(88px);
    .answer-sel {
      display: inline-block;
      width: px2rem(84px);
      height: px2rem(84px);
      background: $font;
      border-radius: px2rem(10px);
      position: relative;
      margin-right: px2rem(50px);
      &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: '';
        display: inline-block;
        width: px2rem(35px);
        height: px2rem(35px);
        border-radius: px2rem(50%);
        background: white;
      }
    }
    .answer-init{
      background: silver;
    }
    .answer-p {
      height: px2rem(84px);
      width: px2rem(286px);
      vertical-align: bottom;
      transition: All .5s;
    }
    @keyframes aniswer
    {
        0% {transform: scale(1);}
        50% {transform: scale(1.2);}
        100% {transform: scale(1);}
    }
    .sel-answer{
      animation-delay:10s;
      animation: aniswer .3s;
      transition:All .5s ease-in;
      position: relative;
    }
  }
}

.game-wo {
  margin: px2rem(202px) auto;
  text-align: center;
  span {
    display: inline-block;
    width: px2rem(282px);
    height: px2rem(90px);
    line-height: px2rem(90px);
    text-align: center;
    font-size: 24px;
    background: white;
    color: rgb(132, 201, 39);
    border-radius: px2rem(22px);
  }
  .first-0 {
    margin-right: px2rem(50px);
  }
}

.show-score {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  z-index: 6;
  opacity: 0.9;
  text-align: center;
  .score_bg {
    width: px2rem(560px);
    height: px2rem(700px);
    z-index: 7;
    // margin-top: 32%;
    opacity: 1;
  }
  .get-score{
    height: px2rem(744px);
    width: px2rem(560px);
    margin: 32% auto;
    position: relative;
 }
  .wrop-score {
    font-family: 'STYuanti-SC-Regular';
    font-size: 56px;
    color: $font;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0);
  }
  .btn-score-w{
  position: relative;
  top:-20%;
  }
  @mixin btn-score(){
    display: inline-block;
    width:px2rem(217px);
    height: px2rem(88px);
    line-height:px2rem(88px);
    z-index:8;
    font-size:14px;
    color: rgb(59,148,0);
    font-family: 'Ping-Fang-Semibold';
    position: relative;
    cursor: pointer;
    a{
      position: absolute;
      left:50%;
      top:50%;
      width: 100%;
      transform: translate(-50%,-50%);
      color: rgb(59,148,0);
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
  .btn-score{
    @include btn-score();
    margin-right: px2rem(10px);

  }
  .btn-score2{
    @include btn-score();
  }
  .star-wrop{
      position: absolute;
      left:50%;
      top:-7%;
     transform: translateX(-50%);
     width: px2rem(560px);
     img{
       $wh:180px;
      width:px2rem($wh);
      height: px2rem($wh);
     }
  }
}
@keyframes animat-false
{
    0% {left: 0}
    15% {left: -10px;}
    25% {left: 10px;}
    50% {left: -10px;}
    75% {left: 10px;}
    100% {left: 0;}
}
.animat-false{
  animation-delay:10s;
  animation: animat-false .5s;
  transition:All .5s ease-in;
  position: relative;
}
@keyframes animat-true
{
    0% {transform: scale(1);
      color: #ffe185;
      background: white;}
    50% {
      transform: scale(1.2);
      color: #ffe185;
      background: white;
    }
    // 75% {left: 10px;}
    100% {transform: scale(1);}
}
.animat-true{
  animation-delay:10s;
  animation: animat-true .5s;
  transition:All .5s ease-in;
  position: relative;
}
