// 绘本列表
.picture-books {
  // width: 100%; height: 100%; margin: 0; padding: 0; position: relative;
  position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  background: url('/static/img/picture_books_list.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  .picture-books-read { // 绘本阅读
    width: 100%; height: px2rem(105px); padding: px2rem(40px) 0;
    position: fixed; top: 0; left: 0;
    img {width: px2rem(322px); height: 100%; margin: 0 auto;display: block;}
  }
  .picture-books-box { // 列表盒子
    position: fixed; top: px2rem(185px); bottom: 0; left: 0; right: 0;
    width: 100%; display: block; overflow-y: auto;
    // 列表内容
    .picture-books-lists {
      width: px2rem(626px); margin: 0 auto;
      .picture-books-item { // 列表子项
        width: 100%; height: px2rem(236px); padding: 0 px2rem(46px); box-sizing: border-box;
        margin-bottom: px2rem(24px);
        .item-img {
          display: block; float: left; height: 100%; width: px2rem(172px);
          img {width: px2rem(172px); height: px2rem(172px); margin: px2rem(32px) 0;}
        }
        .item-infor {
          display: block; float: right; width: px2rem(314px); height: 100%; padding: px2rem(32px) 0; box-sizing: border-box;
          h3 {
            font-size: px2rem(30px); margin: 0; padding: 0; height: px2rem(108px);
            line-height: px2rem(54px); overflow: hidden; color: $brown;
            // color: rgb(102, 38, 0);
          }
          button {
            border-radius: px2rem(26px); height: px2rem(52px); width: px2rem(148px); line-height: px2rem(52px); text-align: center;
            border: 0; background: rgb(250, 93, 78); font-size: px2rem(21px); color: #fff; margin: px2rem(6px) 0; font-weight: bold;
          }
        }
      }
      // .picture-books-bottom {
      //   width: 100%; height: 0.72rem; line-height: 0.72rem; text-align: center;
      // }
    }
  }
}
// 绘本详情
.picbook-details {
  position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 100%;
  // padding: px2rem(60px) 0; box-sizing: border-box;
  .picture-head {
    height: px2rem(110px); width: 100%;
    .home-btn {
      position: fixed; top: px2rem(20px); left: px2rem(20px); z-index: 100;
      width: px2rem(72px); height: px2rem(72px);
      font-size: px2rem(34px); color: rgb(132, 201, 39); border-radius: 50%; text-align: center;
      // line-height: px2rem(72px);
      img { width: 100%; height: 100%; }
    }
    .picture-infor-sign {
      font-size: px2rem(40px); height: px2rem(110px); margin: 0 auto; width: px2rem(200px);
      line-height: px2rem(110px); text-align: center; color: rgb(132, 201, 39);
    }
  }
  // 封面
  .picbook-cover {
    .picbook-body-img {
      height: px2rem(568px); margin-bottom: px2rem(48px);
      // margin-top: px2rem(20px);
      .picbook-body-img-bg {
        width: px2rem(556px); height: px2rem(556px);
      }
    }
    .picbook-body-title {
      padding: 0 px2rem(60px); line-height: px2rem(50px); font-size: px2rem(32px); text-align: center;
    }
  }
  // 主体
  .picbook-body {
    position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; overflow: hidden;
    padding: px2rem(110px) 0 px2rem(132px) 0; box-sizing: border-box; display: block;
    .picbook-body-img {
      width: 100%;
      // height: px2rem(412px);
      .picbook-body-img-bg {
        // width: px2rem(400px); height: px2rem(400px);
        padding: px2rem(6px); display: block; margin: 0 auto;
        img { width: 100%; height: 100%; }
      }
    }
  }
  // 内容
  .picbook-content {
    .picbook-body-img {
      height: px2rem(512px);
      .picbook-body-img-bg {
        width: px2rem(500px); height: px2rem(500px);
      }
    }
    // 单独单词-翻译
    .picbook-body-word {
      overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
      height: px2rem(48px); line-height: px2rem(48px);  display: block; padding: 0 px2rem(60px);
    }
    .picbook-sentence-wrapper { // 句子
      padding: 0 px2rem(60px);
      // 句子词组
      .picbook-sentence {
        line-height: px2rem(50px); font-size: px2rem(30px);
      }
      // 句子控制面板
      .picbook-sentence-control-panel {
        margin: px2rem(30px) 0;
        .picbook-sentence-btn {
          height: px2rem(66px); width: px2rem(198px); border-radius: px2rem(33px); display: inline-block;
          img { width: 100%; height: 100%; }
        }
      }
      .picbook-sentence-cn {
        line-height: px2rem(50px); font-size: px2rem(30px);
      }
    }
  }

  // 底部按钮
  .picbook-footer {
    padding: 0 px2rem(60px); display: block; height: px2rem(90px); width: 100%; margin-bottom: px2rem(42px);
    position: absolute; bottom: 0; left: 0; z-index: 3; box-sizing: border-box;
    .btn-cont-img {
      height: px2rem(90px);  float: left; border-radius: px2rem(20px);
      &:not(:last-child) {margin-right: px2rem(38px);}
      img {
        height: px2rem(74px); width: px2rem(74px); display: block; margin: px2rem(8px) auto;;
      }
    }
    .last { width: px2rem(202px); }
    .next { width: px2rem(202px); }
    .audio {
      width: px2rem(150px);
    }
  }
}
  // 完成弹框
  .picbook-finish {
    position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1000; background: rgba(#000, 0.8);
    .picbook-finish-layer {
      width: px2rem(560px); height: px2rem(654px); margin: px2rem(108px) auto 0; position: relative;
      .picbook-finish-img {
        width: 100%; height: 100%;
        img { width: 100%; height: 100%; }
      }
      .picbook-finish-panel {
        position: absolute; bottom: px2rem(102px); left: 0; width: 100%; height: px2rem(88px); box-sizing: border-box;
        padding: 0 px2rem(40px);
        .btn-cont-img {
          width: px2rem(218px); height: px2rem(80px); display: inline-block; line-height: px2rem(80px); text-align: center;
          background-image: url("/static/img/btn_pic_finish.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          color: rgb(59, 148, 0); font-size: px2rem(28px); border-radius: px2rem(15px);
        }
      }
    }
  }
