$font: rgb(106, 167, 24);
$font-bg: rgb(192, 224, 142);
.learn-word {
  text-align: center;
  .wrop {
    // height: px2rem(624px);
    overflow: hidden;
  }
  ul {
    width: 1600px;
    height: px2rem(624px);
  }
  li {
    float: left;
    margin: 0 auto;
    text-align: center;
    margin-top: px2rem(34px);
    width: px2rem(750px);
    transition: All 0.3s ease;
    img {
      width: px2rem(182px);
      height: px2rem(124px);
      position: relative;
      top: px2rem(15px);
      z-index: 1;
    }
  }
  @mixin word-s {
    width: 90%;
    height: px2rem(462px);
    background: white;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
  }
  @mixin word-c($y) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, $y);
  }
  .show-word {
    @include word-s;
    display: table;
    .show-w {
      @include word-c(-60%);
      font-size: 117px;
      color: $font;
    }
    .img-w {
      position: relative;
      // bottom: -245px;
      color: $font;
      font-size: 60px;
      margin: 0 3px;
    }
    .pict-w{
      position: absolute;
      left: 50%;
      bottom: -50%;
      transform: translate(-50%,0);
    }
    .img-step3{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top:130%;
      // bottom: -100px;
      color: $font;
      font-size: 60px;
      // margin: 0 3px;
    }
    .show-i {
      @include word-c(-48%);
      width: 90%;
      height: 90%;
    }
  }
.addColor {
    opacity:.4;
}
  .show-img {
    @include word-s;
    .show-i {
      @include word-c(-48%);
      width: 85%;
      height: 90%;
    }


  }
  .step {
    margin-top: px2rem(380px);
    @mixin btn-img($width,$height) {
      width: px2rem($width);
      height: px2rem($height);
      text-align: center;
      line-height: px2rem($height);
      background: white;
      display: inline-block;
      border-radius: px2rem(15px);
      img {
        width: px2rem(60px);
        height: px2rem(60px);
      }
    }
    .next {
      @include btn-img(372px,90px );
      margin-right: px2rem(19px);
      position: relative;
      i {
        font-size: 17px;
        color: $font;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .chanColor{
        color:silver;
      }
    }
    .sure {
      width: px2rem(544px);
    }
    .sound {
      @include btn-img(150px,90px );
    }
  }
}

